@charset "UTF-8";
:root {
  --font: "RIDIBatang", sans-serif;
  --noto-font: "Noto Sans KR", sans-serif;
  --bg-color: #fafafa;
  --main-color: #f79e9e;
  --sub-color: #fdcbcb;
  --black-color: #202020;
  --dark-gray: #768384;
  --pink-color: #f79e9e;
  --blue-color: #78c0e9;
  --gray-color: #b2bdbe;
  --border-color: #dfdfdf;
}

.header_wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 2rem 1.6rem;
  transform: translateY(-35px);
  opacity: 0;
  box-sizing: border-box;
  animation: header 0.6s 0.4s linear forwards;
}

.font_style_wrap {
  display: flex;
  gap: 1rem;
  box-sizing: border-box;
}
.font_style_wrap li a {
  font-size: 1.4rem;
  color: var(--dark-gray);
}

@keyframes header {
  0% {
    transform: translateY(-35px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.bgm_btn {
  display: inline-block;
  text-align: right;
  margin: -20px 0 0 0;
}

.video_wrap {
  position: absolute;
  top: 20px;
  left: 0;
  max-width: 425px;
  width: 100%;
  height: 100vh;
  mix-blend-mode: screen;
  z-index: 1;
}

.eff_bg {
  height: 100%;
}

.section {
  position: relative;
  margin: 4rem 0 9rem;
}
.section.is-visible .title,
.section.is-visible .intro_flower,
.section.is-visible .greetings_text p,
.section.is-visible .name_info,
.section.is-visible .t,
.section.is-visible .p,
.section.is-visible .acc_items,
.section.is-visible .guest_wrap,
.section.is-visible .public_transport,
.section.is-visible .contents_wrap,
.section.is-visible .sub_tit,
.section.is-visible .info_wrap {
  animation: up 0.5s linear forwards;
}
.section.is-visible .greetings_text p,
.section.is-visible .name_info,
.section.is-visible .map_container h4,
.section.is-visible .map_container p,
.section.is-visible .acc_items,
.section.is-visible .guest_wrap,
.section.is-visible .sub_tit,
.section.is-visible .public_transport {
  animation-delay: 0.4s;
}
.section.is-visible .parents {
  animation-delay: 0.6s;
}

.title {
  font-size: 2.4rem;
  font-weight: 400;
  margin: 3rem 0;
  color: var(--main-color);
  transform: translateY(100px);
  opacity: 0;
}

@keyframes up {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.popup_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 100;
  visibility: hidden;
}

.popup_bg.show {
  visibility: visible;
}

.none {
  display: none;
}

.popup {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 425px;
  height: 100%;
  background: #fff;
  transform: translateX(-50%);
  z-index: 10;
  overflow-y: scroll;
}

.main_container {
  width: 100%;
  max-width: 425px;
  padding: 0 0 3rem;
  margin: auto;
  background: var(--bg-color);
  box-sizing: border-box;
  overflow: hidden;
}

.main_container .inner {
  width: 100%;
  text-align: center;
}

.tit_wrap p {
  font-size: 13px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  line-height: 1.3;
  color: var(--main-color);
}

.tit_wrap .name {
  font-size: 3.2rem;
  font-weight: 400;
  margin: 0.5rem 0 1rem;
}

.tit_wrap .date {
  font-size: 2rem;
  font-weight: 300;
  color: #585858;
}

.main_thumbnail_wrap {
  margin: 0 0 9rem;
}

.main_thumbnail_wrap .thumbnail_wrap {
  margin-bottom: 2.4rem;
}

.main_thumbnail_wrap .thumbnail_wrap img {
  width: 100%;
  object-fit: cover;
}

.main_thumbnail_wrap .wstation {
  font-size: 1.8rem;
  line-height: 1.5;
}

.greetings_wrap {
  margin: 6rem 0 5rem;
}

.greetings_wrap .intro_flower {
  width: 30px;
  margin: 2.4rem auto;
  opacity: 0;
}

.greetings_wrap .intro_flower img {
  width: 100%;
  object-fit: cover;
}

.greetings_text p {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2;
  margin-bottom: 3rem;
  padding: 0 16px;
  opacity: 0;
  transform: translateY(100px);
  box-sizing: border-box;
}

.line {
  width: 40px;
  height: 1px;
  margin: 15px auto;
  background: #ddd;
}

.name_info {
  margin: 4rem 0;
  opacity: 0;
}

.name_info p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.name_info p strong {
  font-weight: 400;
  color: #202020;
}

.rip {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 0.3rem;
}
.rip img {
  width: 100%;
  object-fit: cover;
}

.gellery_container .title {
  margin: 3rem 0;
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  background: none;
}

.btn_close {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 1.6rem;
}
.btn_close::before, .btn_close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: #585858;
}
.btn_close::before {
  transform: translateY(-50%) rotate(45deg);
}
.btn_close::after {
  transform: translateY(-50%) rotate(135deg);
}

.popup-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 425px;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 200;
  transform: translate(-50%, -50%);
}
.popup-wrap .inner {
  padding: 0;
  overflow: hidden;
}
.popup-wrap .inner .top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  font-size: 30px;
  color: #fff;
}

/* 스와이퍼 커스텀 */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
}
.swiper-slide img {
  width: 100%;
}
.swiper-button-next, .swiper-button-prev {
  width: 50px;
  height: 50px;
  background: none;
}
.swiper-button-next::before, .swiper-button-next::after, .swiper-button-prev::before, .swiper-button-prev::after {
  content: "";
  display: block;
  width: 34px;
  height: 2px;
  background-color: #fff;
}
.swiper-button-next::before, .swiper-button-prev::before {
  transform: translateY(12px) rotate(45deg);
}
.swiper-button-next::after, .swiper-button-prev::after {
  transform: translateY(34px) rotate(-45deg);
}
.swiper-button-next {
  right: 0px;
}
.swiper-button-prev {
  left: 0px;
  transform: rotate(180deg);
}

/* 메인 슬라이더 & 썸네일 */
.slider-wrap {
  margin: 0 auto;
}
.slider-wrap .swiper-container {
  width: 100%;
}
.slider-wrap .swiper-container.slider {
  /* 메인 슬라이더 */
  margin-bottom: 1.6rem;
}
.slider-wrap .swiper-container.slider .swiper-slide img {
  cursor: pointer;
}
.slider-wrap .swiper-container.slider .swiper-button-next, .slider-wrap .swiper-container.slider .swiper-button-prev {
  width: 30px;
}
.slider-wrap .swiper-container.slider .swiper-button-next::before, .slider-wrap .swiper-container.slider .swiper-button-next::after, .slider-wrap .swiper-container.slider .swiper-button-prev::before, .slider-wrap .swiper-container.slider .swiper-button-prev::after {
  width: 26px;
}
.slider-wrap .swiper-container.slider .swiper-button-next::before, .slider-wrap .swiper-container.slider .swiper-button-prev::before {
  transform: translateY(14px) rotate(45deg);
}
.slider-wrap .swiper-container.slider .swiper-button-next::after, .slider-wrap .swiper-container.slider .swiper-button-prev::after {
  transform: translateY(30px) rotate(-45deg);
}
.slider-wrap .swiper-container.slider .swiper-button-next {
  right: 0;
}
.slider-wrap .swiper-container.slider .swiper-button-prev {
  left: 0;
}
.slider-wrap .swiper-container.slider-thumbnail {
  /* 썸네일 슬라이더  */
  height: 110px !important;
  margin-top: 4px;
}
.slider-wrap .swiper-container.slider-thumbnail .swiper-slide {
  opacity: 0.5;
  overflow: hidden;
}
.slider-wrap .swiper-container.slider-thumbnail .swiper-slide-thumb-active {
  opacity: 1;
}
.slider-wrap .swiper-container.slider-thumbnail .swiper-slide img {
  object-fit: cover;
  height: 100%;
}

/* 팝업 슬라이더 */
.popup-wrap {
  visibility: hidden;
}
.popup-wrap .slider-popup {
  overflow: visible;
  width: 100%;
}
.popup-wrap .slider-popup .swiper-slide {
  width: 100%;
  border: 0;
}
.popup-wrap .slider-popup .swiper-slide img {
  object-fit: contain;
  box-sizing: border-box;
}
.popup-wrap .slider-popup .swiper-pagination {
  bottom: -36px;
}
.popup-wrap .slider-popup .swiper-pagination-bullet {
  opacity: 1;
  background: #585858;
}
.popup-wrap .slider-popup .swiper-pagination-bullet-active {
  background: #585858;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.main_color {
  color: var(--main-color);
}

/* 달력 */
.calendar {
  width: 300px;
  margin: 5rem auto;
  box-sizing: border-box;
}
.calendar .header {
  width: 100%;
  text-align: center;
  margin: 2rem 0;
}
.calendar .header .title {
  width: 100%;
  margin: 0;
  opacity: 1;
  transform: translateY(0);
}
.calendar .header .title span {
  font-size: 2rem;
}
.calendar .header .title .time {
  display: block;
}
.calendar .day {
  width: 100%;
  display: table;
  table-layout: fixed;
}
.calendar .day div {
  display: table-cell;
  text-align: center;
  height: 40px;
  font-size: 14px;
  vertical-align: middle;
  text-transform: uppercase;
}
.calendar .day div:first-child {
  color: var(--main-color);
}
.calendar .day div:last-of-type {
  color: #78c0e9;
}
.calendar .dates {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.calendar .dates .date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.2857142857%;
  height: 40px;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 3px;
}
.calendar .dates .date.today {
  color: #fff;
  background: var(--main-color);
  border-radius: 50%;
}
.calendar .dates .date:nth-child(7n) {
  color: #78c0e9;
}
.calendar .dates .date:nth-child(7n+1) {
  color: var(--main-color);
}
.calendar .dates .date.last, .calendar .dates .date.next {
  color: #c8c8c8 !important;
}
.calendar.is-visible .header .title {
  animation: up 0.6s 0.3s ease forwards;
}

.d_day {
  padding: 1rem 0;
  margin-bottom: 9rem;
  background: #fff;
  box-sizing: border-box;
}
.d_day span {
  color: var(--main-color);
}

.map_container h4 {
  font-size: 2.4rem;
  font-weight: 400;
  opacity: 0;
}
.map_container p {
  font-size: 1.5rem;
  margin: 1.2rem 0 4rem;
  color: #555;
}
.map_container .p {
  opacity: 0;
}

#map {
  width: 100%;
  height: 280px;
}

.public_transport {
  padding: 4rem 2rem 0;
  text-align: left;
  box-sizing: border-box;
}
.public_transport h5 {
  font-size: 1.8rem;
}
.public_transport p {
  line-height: 1.6;
}

.acc_items {
  max-width: 310px;
  margin: 0 auto;
  border-radius: 3px;
  opacity: 0;
}

.acc_heading {
  color: #fff;
  background: var(--sub-color);
  border-bottom: 1px solid #e7e7e7;
  letter-spacing: 0.8px;
  padding: 15px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.acc_heading:first-child:hover {
  border-radius: 3px 3px 0 0;
}
.acc_heading:nth-last-child(2) {
  border-bottom: 0;
}
.acc_heading:hover {
  background: var(--main-color);
  border-radius: 0;
}
.acc_heading:nth-last-child(2):hover {
  border-radius: 0 0 3px 3px;
}
.acc_heading::before {
  content: "";
  display: block;
  border-top: 7px solid #f5f5f5;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  float: right;
  transform: rotate(0);
  transition: all 0.5s;
  margin-top: 5px;
  border-radius: 3px;
}

.active.acc_heading::before {
  transform: rotate(-180deg);
}

.not-active.acc_heading::before {
  transform: rotate(0deg);
}

.item {
  padding-top: 1.4rem;
  border-top: 1px dashed var(--border-color);
}
.item.bn {
  border-top: none;
}
.item:first-child {
  margin-bottom: 2rem;
}
.item .acc_content {
  display: none;
  background: #fffafa;
  color: #7f8fa4;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.1);
}
.item .acc_content .bank_num_wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1.5rem;
  border-bottom: 1px solid var(--border-color);
  box-sizing: border-box;
}
.item .acc_content .bank_num_wrap:last-child {
  border-bottom: none;
}
.item .acc_content .bank_num_wrap ul {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 2rem;
}
.item .acc_content .bank_num_wrap ul li {
  font-size: 1.5rem;
  text-align: left;
}
.item .acc_content .bank_num_wrap ul li.bank_num {
  display: flex;
  flex-direction: column;
}
.item .acc_content .bank_num_wrap .copy_btn {
  font-size: 1.3rem;
  padding: 0.5rem;
  color: #fff;
  background: var(--main-color);
  border-radius: 5px;
  box-sizing: border-box;
}

.comm_container .sub_tit {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 3rem;
  opacity: 0;
}
.comm_container .parents_wrap {
  display: flex;
  justify-content: space-around;
}
.comm_container .parents_wrap .parents {
  flex-direction: column;
  justify-content: flex-start;
  gap: 5rem;
}
.comm_container .parents_wrap .parents .blue {
  color: var(--blue-color);
}
.comm_container .parents_wrap .parents .pink {
  color: var(--pink-color);
}
.comm_container .contents_wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 9rem;
  opacity: 0;
}
.comm_container .contents_wrap div {
  width: 100%;
}
.comm_container .contents_wrap div h6 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.comm_container .contents_wrap div ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.comm_container .contents_wrap div ul li a i {
  font-weight: 700;
}
.comm_container .contents_wrap div ul li a i::before {
  font-size: 2.4rem;
}
.comm_container .contents_wrap div ul li a i.pink {
  color: var(--pink-color);
}
.comm_container .contents_wrap div ul li a i.blue {
  color: var(--blue-color);
}

.info_container {
  margin-top: 0;
  padding: 0 2rem;
  box-sizing: border-box;
}

.info_wrap {
  width: 100%;
  padding: 3rem;
  background: #fff;
  border-radius: 0 0 4px 4px;
  border-top: 2px solid var(--main-color);
  opacity: 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.info_wrap h5 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--main-color);
  margin-bottom: 1.6rem;
}
.info_wrap p {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #666;
}

.guest_wrap {
  padding: 0 2rem;
  box-sizing: border-box;
  opacity: 0;
}
.guest_wrap .item {
  background: #fff;
  margin-bottom: 2rem;
  padding: 1.6rem;
  border-radius: 8px;
  border-top: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.18);
  box-sizing: border-box;
}
.guest_wrap .item .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}
.guest_wrap .item .top .right span {
  font-size: 1.2rem;
  color: #999;
  margin-right: 0.5rem;
}
.guest_wrap .item .top .right i {
  vertical-align: middle;
  color: #999;
  cursor: pointer;
}
.guest_wrap .item .con p {
  text-align: left;
  line-height: 1.4;
}

.bt_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  box-sizing: border-box;
}
.bt_wrap .writing_btn {
  font-size: 1.6rem;
  color: var(--dark-gray);
}

.writing_popup {
  display: none;
  padding: 2rem;
  box-sizing: border-box;
  z-index: 15;
}
.writing_popup.show {
  display: block;
}
.writing_popup .head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.writing_popup .head h2 {
  font-family: var(--noto-font);
  font-size: 2rem;
  margin: auto;
}
.writing_popup .head i {
  font-weight: 700;
  vertical-align: middle;
  cursor: pointer;
}
.writing_popup .form_wrap .input_box {
  display: flex;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
  box-sizing: border-box;
}
.writing_popup .form_wrap .input_box.line_none {
  border-bottom: none;
}
.writing_popup .form_wrap .input_box label {
  font-family: var(--noto-font);
  font-size: 1.4rem;
  font-weight: 500;
  display: inline-block;
  width: 70px !important;
  margin-right: 1rem;
}
.writing_popup .form_wrap .input_box input {
  font-family: var(--noto-font);
  font-size: 1.4rem;
}
.writing_popup .form_wrap .input_box textarea {
  width: 100%;
  font-size: 1.4rem;
  margin-left: 1rem;
  padding: 1.4rem;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
}
.writing_popup .submit_btn {
  font-family: var(--noto-font);
  width: 100%;
  height: 50px;
  line-height: 50px;
  letter-spacing: 1px;
  color: #fff;
  background: #202020;
  cursor: pointer;
}

.delete_popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 300px;
  background: #fff;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.delete_popup.show {
  display: block;
}
.delete_popup .wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.delete_popup .wrap input {
  width: 260px;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  margin-bottom: 3rem;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
}
.delete_popup .wrap .delete_btn {
  font-family: var(--noto-font);
  width: 100%;
  height: 40px;
  font-size: 1.6rem;
  color: #fff;
  background: #202020;
  cursor: pointer;
}

.pagiantion ul {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.pagiantion ul li {
  color: #999;
  cursor: pointer;
}
.pagiantion ul li.active {
  color: #585858;
}

.bt_container {
  position: relative;
  width: 100%;
  height: 320px;
}
.bt_container .img_wrap {
  width: 100%;
  height: 100%;
}
.bt_container .img_wrap::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.bt_container .img_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bt_container .img_wrap .text_wrap {
  position: absolute;
  top: 45%;
  left: 20px;
  text-align: left;
  line-height: 1.6;
  color: #fff;
  z-index: 10;
}

.kakao {
  margin-top: 80px;
  box-sizing: border-box;
}
.kakao a {
  font-family: var(--noto-font);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 10px 0;
  box-sizing: border-box;
}
.kakao a img {
  width: 15px;
  height: 15px;
  margin: 0.5rem;
}

.copyright {
  font-family: var(--noto-font);
  font-size: 1rem;
  color: var(--gray-color);
}

.waves_wrap {
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.waves_wrap.top {
  top: 37px;
  transform: rotate(180deg);
}
.waves_wrap.bt {
  top: -61px;
}
.waves_wrap.bt40 {
  top: -37px;
}

.waves_wrap.none {
  display: block;
  opacity: 0;
}

body.ft_2 .waves_wrap.top {
  top: 38px;
}
body.ft_2 .waves_wrap.bt {
  top: -62px;
}
body.ft_2 .waves_wrap.bt40 {
  top: -38px;
}

.waves {
  width: 100%;
  height: 0;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 40px;
  max-height: 40px;
}

.slider-wrap .swiper-container.slider .swiper-button-next::before,
.slider-wrap .swiper-container.slider .swiper-button-next::after,
.slider-wrap .swiper-container.slider .swiper-button-prev::before,
.slider-wrap .swiper-container.slider .swiper-button-prev::after {
  width: 16px;
}

.slider-wrap .swiper-container.slider .swiper-button-next::before,
.slider-wrap .swiper-container.slider .swiper-button-prev::before {
  transform: translateY(18px) rotate(45deg);
}

.slider-wrap .swiper-container.slider .swiper-button-next::after,
.slider-wrap .swiper-container.slider .swiper-button-prev::after {
  transform: translateY(26px) rotate(-45deg);
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 6s;
  opacity: 0.7;
}

.parallax > use:nth-child(2) {
  animation-delay: -4s;
  animation-duration: 9s;
  opacity: 0.5;
}

.parallax > use:nth-child(3) {
  animation-delay: -6s;
  animation-duration: 12s;
  opacity: 0.3;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 340px) {
  .writing_popup .form_wrap .input_box {
    flex-direction: column;
    gap: 0.8rem;
  }
  .writing_popup .form_wrap .input_box label {
    text-align: left;
  }
  .writing_popup .form_wrap .input_box textarea {
    margin-left: 0;
  }
}